<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="casestudy">

				<!-- Header -->
					<header id="header">
						<h1>{{ page.title }}</h1>
						<p>{{ page.subtitle }}</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main markdown">
								{{ content }}
								<ul class="actions">
									<li><a href="/#projects" class="button">Back to Projects</a></li>
								</ul>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Want to chat?</h2>
							<p>Always ready to talk about my previous projects, how users navigate and make sense of complex data, or whether Tymna/Kodama or Tymna/Kamahl is the better Abzan deck.</p>
						</section>
						<section>
							<h2>Contact me</h2>
							<dl class="alt">
								<dt>Phone</dt>
								<dd>(512) 296-4825</dd>
								<dt>Email</dt>
								<dd><a href="mailto:contact@dreamlands.org">contact@dreamlands.org</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="https://www.linkedin.com/in/breitreiter/" class="icon brands fa-linkedin alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/cairtheand/" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Joseph Breitreiter</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/util.js"></script>
		<script src="{{ site.baseurl }}/assets/js/main.js"></script>
		<!-- Clicky -->
		<script async src="//static.getclicky.com/101388075.js"></script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101388075ns.gif" /></p></noscript>

	</body>
</html>
